h2{
	  background-color: #FF0000;
	  background-image:  url("3-way handshake(0).PNG");
	  background-repeat: no-repeat
	  background-attachment: fixed
	  background-position: right bottom;
	  font-family: "Times New Roman", serif; 
	  font-style: bold;
	  font-variant: small-caps; 
	  font-weight: 900;
	  font-size: 90%;
	  text-indent: 300px;
	  
	  text-decoration: line-through; 	
	  letter-spacing: 9px;
	  text-transform: capitalize;
	}
body {
	background: #FFCC66 url("butterfly.gif") no-repeat  right top;
	margin-top: 100px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 70px;
	}
h1 {
		color: #30FF00;
		background: #FC9804;
			padding: 20px 20px 20px 80px;
		border: 10px outset brown;
		
		
	}
a:link {
		color: blue;
		text-decoration:none;
	}

	a:visited {
		color: purple;
		text-decoration:none;
	}

	a:active {
		color: yellow;
		text-decoration:none;
	}

	a:hover {
		color:red;
		font-size : 300%;
		text-decoration:none;
	}
	
	a.bluetime{
		color:green;
		text-decoration: underline
	}
	span.benefit {
		color:red;
		font-size: 100%
	}
	#grey{
		background:grey;
	}

	#pearl {
		background:#00FF99;
	}
	
				